setuptools==65.5.0
wheel==0.38.0
dora-search
einops
julius>=0.2.3
lameenc>=1.2
openunmix
pyyaml
soundfile
torch @ http://download.pytorch.org/whl/cpu/torch-2.2.1%2Bcpu-cp312-cp312-linux_x86_64.whl
tqdm

