setuptools==65.5.0
wheel==0.38.0
dora-search
einops
julius>=0.2.3
lameenc>=1.2
openunmix
pyyaml
soundfile
torch @ http://download.pytorch.org/whl/cpu/torch-2.0.0%2Bcpu-cp38-cp38-linux_x86_64.whl
torchaudio>=0.8.0,<2.1.0
tqdm