#-f https://download.pytorch.org/whl/torch_stable.html
# please make sure you have already a pytorch install that is cuda enabled!
# Attempt to reduce slug size by discarding GPU-specific libraries
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.0.1
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.15.2
dora-search
einops
julius>=0.2.3
lameenc>=1.2
openunmix
pyyaml
torchaudio>=0.8,<2.1
tqdm
